Log notice stdout

# disable socks proxy
SOCKSPort 0

BridgeRelay 1
ServerTransportPlugin obfs4 exec /usr/bin/obfs4proxy
ExtORPort auto
ORPort {OR_PORT}
ServerTransportListenAddr obfs4 0.0.0.0:{PT_PORT}

Nickname FPHmmrleObfs4Bridge
ContactInfo {CONTACT_INFO}
